.profile {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #fff;
    flex-direction: column;

    &-header {
        display: flex;
        min-width: 200px;
        width: 100%;
        padding: 11px;
        color : #fff;
        background-color: #7041ff;
        box-shadow: 0px 0px 5px 0px #151b23;
        margin-bottom: 30px;

        h1 {
            padding: 19px;
           
        }

    }

    &-container {
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 100%;
    }

    &-info {
        display: flex;
        width: 400px;
        background-color: #161e29;
        box-shadow: 0px 0px 5px 0px #151b23;
        height: 100%;
        color : #fff;
        flex-direction: column;


        &-header {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            padding-top: 30px;
            margin-bottom: 30px;

        }

        &-image {
            padding-bottom: 20px;
        }

        &-links {
            padding: 5px;
            background-color:#7041ff;
        }

        &-link {
            padding-left: 20px;
        }
    }

    &-body{
        width:100%; 

        &-content {
            padding: 20px;
        }

    }
   
    &-form {
        display: flex;
        flex-direction: column;
        padding : 10px;

        &-group {
            padding : 10px;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            width: 100%;

            label {
                display: flex;
                justify-content: flex-end;
                padding-right: 20px;
                width: 200px;

            }

            & div {
                width: 100%;
                padding-right: 50px;
            }

            button {
                display: flex;
                justify-content: flex-end;
                margin-right: 50px;
                margin-top: 20px;
                background-color: #7041ff;
            }
        }
        
    }
}