*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.user-login{
    display: flex;
    width: 350px;
    height: 500px;
    flex-direction: column;
    padding: 40px;
    background-color: #0e1621 !important;
    color : #e8e9ea;
    
    
}
.usernameBar{

    display: flex;
    margin-bottom: 40px;
}
.emailBar{

    display: flex;
    margin-bottom: 40px;
    width: 100%;

    input {
        color : #e8e9ea;
        border-color: #e8e9ea;
    }

}
.passBar{

    display: flex;
    margin-bottom: 20px;

    input {
        color : #e8e9ea;
    }
    
}

.container{

    display: flex;
    justify-content: center;
    align-items: center;
    //padding: 3px 9px;
    flex-direction: column;
    //min-height: 80vh;
   // background-image: url("bg.png");
   // background-size: cover;
   background-color: #161e29;
    height: 100vh;
}

.submit{

    display: flex;
    justify-content: center;
    margin-right: 6px;
    margin-top: 20px;

    button {
        width: 100%;
    }
}

.input_field {
    width : 100%;
}

.heading{

    display: flex;
    justify-content: center;
    margin-left: 5px;
    margin-top: 20px;;
    margin-bottom: 60px; 
    align-items: center; 
    
    color : #e8e9ea;
   
        span {
            padding-left: 5px;
        }

}
.forgotpass{

    display: flex;
    justify-content: center;
    margin-bottom: 20px;

}
.createacc{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 30px;

}
