.home-page {
    display : flex;
    flex-direction : 'column';
    //justify-content: space-evenly;
    height: 100vh;
   // background-color:#0e1621;
}

.main-container {
    display: flex;
   // background-color : #0e1621;
    width: 100%;
    flex-direction: column;
}





.chat-list {
    padding-top: 10px;
}

// ----------- Messagesss -----------

.chat-header {
    display: flex;
    padding: 20px;
    height: 60px;
    //box-shadow: 1px 1px 5px 0px #888888;
    box-shadow: 1px 0px 5px 0px #2b2b2b;
    color : #fff;
    align-items: center;
    background-color:#7041ff;


    &__icon{
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 10px;
        img {
            height: 20px;
            width:20px;
            border-radius: 50%;
        }

        &-close {
            position: absolute;
            right: 20px;
            top: 20px;

            &:hover{
                cursor: pointer;
            }
        }
    }

    &__desc{
     
       
    }

    &__name{
        font-size:18px;
    }

    &__last-seen{
        font-size: 10px;
        color : #918d8d;
    }
}

.chat-messages{
    display: flex;
    flex-direction: column;
    width : 100%;
    height:100%;
    overflow: scroll;
    //background-color: #cdb1da;

    &__conversations{
        display: flex;
        flex-direction: column;
        height: auto;
        padding:10px;
        //overflow: scroll;
        justify-content: flex-end;
        //margin-bottom: 60px;

    }

    &__send-message{
        //position:absolute;
        display: flex;
       // bottom: 0px;
        align-items: center;
        background-color: #0e1621;
        
    }

    &__message_icon{
        display: flex;
        align-items: flex-end;

        .sb-avatar {
            margin-bottom: 10px;
        }
    }

    &__icon{
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 10px;
        img {
            height: 50px;
            width:50px;
            border-radius: 50%;
        }
    }

    &__input {
        margin: 15px 10px;
        width: 100%;
        margin-right: 30px;
        background-color: #161e29;
        color : #e8e9ea;
        input {
            padding: 10px;
            border : none;
            width :100%;
            background-color: #161e29;
            color : #e8e9ea;

            &:placeholder {
                color: #777777;
                font-weight: 300;
            }
        
            &:focus {
                outline: none;
            }
            
        }
    }

    &__send {
        padding-right: 10px;
        button {
            padding: 10px 10px;
            background-color:#7041ff;

            &:hover {
                background-color:#8864f8;
            }
        }
    }

    &__message-recieved{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 25px;
        background-color: #9f9fa0;
        width: fit-content;
        overflow-wrap: anywhere;
        margin-left: 5px;
        color : #0f0f0f

    }

    &__message-sent{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        background-color: #7041ff;
        border-radius: 25px;
        width: fit-content;
        align-self: flex-end;
        overflow-wrap: anywhere;
        color : #e8e9ea
    }

}

.welcome_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color : #9987b7;

    h1 {
        margin: 10px 0;
    }

    span {
        color :rgb(145, 141, 141);
    }
}