.home-page {
    display : flex;
    flex-direction : 'column';
    //justify-content: space-evenly;
    height: 100vh;
    background-color:#0e1621;
}

.main-sidebar {
    background-color : #0e1621;
   
    width: 50px;
    padding: 10px;
  //  border-right: 1px solid black;
    //align-content: 'center';
}

.logo {
    list-style: none;
    padding: 0;
    margin: 0;
    display : flex;
    color : #b3b3b3;
    justify-content: center;
    align-items: center;
    padding-bottom : 30px;
    //margin-top: 10px;
    position: relative;
    top: 6px;
    
   
}
.App-name {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: small;
    font-weight: 700;
    color : #b3b3b3;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: -7px;
    top: 12px;
    position: relative;
}


.nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display : flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top:10px;


.nav-bottom {
    position: absolute;
    bottom: 0;
    padding-bottom: 10px;
}
    
}

.nav-item {
    display: flex;
    padding: 10px 0;
    align-items: center;
    background-color: #222e3e;
    padding: 10px;
    border-radius: 50%;
    color : #727984;

    &:hover {
        //color : rgb(143, 71, 172);
        background-color: #35537a;
        cursor: pointer;
    }

    &--active {
       // color : rgb(143, 71, 172);
       //background-color: #35537a;
    }
 
}






.left-container {
    background-color : #161e29;
    width: 400px;
    box-shadow: 0px 0px 5px 0px #151b23;
    //height: 100vh;




.my-profile {

    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    list-style: none;
    height: 242px;
    width: 100%;
    justify-content: center;
    align-items: center;
    //border-bottom: 1px solid grey;
    





.profile-image {
    position: relative;
    width: 75px;
    height:80px;
    border-radius: 37px;
    margin-bottom: 30px;
    inline-size: fit-content;
    //background-image: url(goku.jpg);

    background-size: cover;
    background-position: center;

    img {

    border-radius: 50%;
    background-size: cover;
    background-position: center;

    }
    
            
    }


.profile-name {
   
    margin: 0;
    padding: 0;
    list-style: none;
    font-size: large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color : #e8e9ea;
    
}

.my-acc {

    margin: 0;
    padding: 0;
    font-size: smaller;
    color: rgb(145, 141, 141);
}


}
}

.search {
    display: flex;
    height: 41px;
    margin: 0 10px;
    border-radius: 5px;
    //border-bottom: 1px solid grey;
    background-color: #0e1621;

    


.search-icon {
    padding: 10px 15px;
    color: grey;
    vertical-align: middle;
}

.search-bar {
    background-color: #0e1621; 
    color : #e8e9ea;
   // position: relative;
   // left: -13px;
   // border-radius: 6px;
  //  padding-right: 135px;
    border: none;

    &::placeholder {
        color: #777777;
        font-weight: 300;
    }

    &:focus {
        outline: none;
    }
    
}


}





.main-container {
    display: flex;
    background-color : #0e1621;
    width: 100%;
    flex-direction: column;
}



//-------- Uswr Profile------

.user-profile{
    display : flex;
    padding: 10px 10px;
    align-items: center;
    cursor: pointer;
    justify-content: space-between;
    color : #e8e9ea;

    &:hover {
        background-color: #8661f8;
    }


    &--active {
        background-color: #7041ff;
        box-shadow: inset 0px 0px 3px 0px #2b2b2b;

        &:hover {
            background-color: #7041ff;
        }
    }


    &__icon{
       // padding-left: 5px;
        padding-right: 10px;
        img {
            height: 30px;
            width:30px;
            border-radius: 50%;
        }
    }

    &__name{
        width:100%;
    }

    &__online-status{
        display: flex;
     
        width : 10px;
        height:10px;
        border-radius: 50%;
        background-color: rgb(41, 173, 14);
     
    }

    &__notification-counts{
        margin-right: 10px;
        background-color: rgb(184, 74, 74);
        color : #fff;
        padding: 5px 10px;
        border-radius: 20%;
        font-size: 12px;
    }
}

.chat-list {
    padding-top: 10px;
}

// ----------- Messagesss -----------

.chat-header {
    display: flex;
    padding: 20px;
    height: 100px;
    //box-shadow: 1px 1px 5px 0px #888888;
    box-shadow: 1px 0px 5px 0px #2b2b2b;
    color : #fff;
    align-items: center;
    width: 100%;
    background-color:#7041ff;


    &__icon{
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 10px;
        img {
            height: 50px;
            width:50px;
            border-radius: 50%;
        }
    }

    &__desc{
     
       
    }

    &__name{
        font-size:18px;
    }

    &__last-seen{
        font-size: 10px;
        color : #918d8d;
    }
}

.chat-messages{
    display: flex;
    flex-direction: column;
    width : 100%;
    height:100%;
    overflow: scroll;
    //background-color: #cdb1da;

    &__conversations{
        display: flex;
        flex-direction: column;
        height: 100%;
        padding:10px;
        //overflow: scroll;
        justify-content: flex-end;
        //margin-bottom: 60px;

    }

    &__send-message{
        //position:absolute;
        display: flex;
       // bottom: 0px;
        align-items: center;
        background-color: #0e1621;
        
    }

    &__message_icon{
        display: flex;
        align-items: flex-end;

        .sb-avatar {
            margin-bottom: 10px;
        }
    }

    &__icon{
        padding-left: 5px;
        padding-right: 10px;
        margin-right: 10px;
        img {
            height: 50px;
            width:50px;
            border-radius: 50%;
        }
    }

    &__input {
        margin: 15px 10px;
        width: 100%;
        margin-right: 30px;
        background-color: #161e29;
        color : #e8e9ea;
        input {
            padding: 10px;
            border : none;
            width :100%;
            background-color: #161e29;
            color : #e8e9ea;

            &:placeholder {
                color: #777777;
                font-weight: 300;
            }
        
            &:focus {
                outline: none;
            }
            
        }
    }

    &__send {
        padding-right: 10px;
        button {
            padding: 10px 10px;
            background-color:#7041ff;

            &:hover {
                background-color:#8864f8;
            }
        }
    }

    &__message-recieved{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        border-radius: 25px;
        background-color: #9f9fa0;
        width: fit-content;
        overflow-wrap: anywhere;
        margin-left: 5px;
        color : #0f0f0f

    }

    &__message-sent{
        margin-top: 5px;
        margin-bottom: 5px;
        padding: 10px;
        background-color: #7041ff;
        border-radius: 25px;
        width: fit-content;
        align-self: flex-end;
        overflow-wrap: anywhere;
        color : #e8e9ea
    }

}

.welcome_banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    color : #e8e9ea;

    h1 {
        margin: 10px 0;
    }

    span {
        color :rgb(145, 141, 141);
    }
}